@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.CustomerVMs
@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.TransactionVMs
@model TransactionUpdateVM

@{
    List<CustomerGetVM> customers = ViewBag.Customers;
}

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    
    <!-- Navbar End -->

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <form method="post">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Update Transaction</h6>
                        <div class="custom-select">
                            <input type="text" class="select-input" readonly placeholder="Select a customer">
                            <div class="options">
                                <input type="text" class="search-box" placeholder="Search...">
                                @foreach (var cus in customers)
                                {
                                    <div>@cus</div>
                                }
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="AmountSpent" type="text" class="form-control" id="floatingInput"
                                   placeholder="amount">
                            <label for="floatingInput">Amount Spent</label>
                        </div>
                        <span asp-validation-for="AmountSpent" class="text-danger"></span>
                        <div class="form-floating mb-3">
                            <select class="form-control" asp-for="Business">
                                <option selected disabled>choose Business</option>
                            </select>
                        </div>
                        <span asp-validation-for="Business" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px">
                <button type="submit" class="btn btn-primary">Update</button>
                <button asp-action="" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Form End -->

</div>
<!-- Content End -->