@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.CustomerVMs
@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.TransactionVMs
@model TransactionUpdateVM

@{
    List<CustomerGetVM> customers = ViewBag.Customers;
}

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <!-- Navbar End -->

    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <form method="post">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Update Transaction</h6>

                        @* <div class="form-group">
                            <label for="CustomerId">Select Customer</label>
                            <select id="CustomerId" name="CustomerId" class="form-control select2">
                                <option value="">-- Select Customer --</option>
                                @foreach (var customer in ViewBag.Customers)
                                {
                                    <option value="@customer.Id">@customer.FullName</option>
                                }
                            </select>
                        </div> *@

                        <div class="form-group">
                            <label for="CustomerId">Customer</label>

                            <input type="text" class="form-control" value="@customers.FirstOrDefault(c => c.Id == Model.CustomerId)?.FullName" readonly />

                            <input type="hidden" asp-for="CustomerId" />
                        </div>


                        <div style="margin-top: 20px" class="form-floating mb-3">
                            <input asp-for="AmountSpent" type="text" class="form-control" id="floatingInput"
                                   placeholder="amount">
                            <label for="floatingInput">Amount Spent</label>
                            <span asp-validation-for="AmountSpent" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="Business" class="form-control"
                                    asp-items="Html.GetEnumSelectList<LoyaltyConsole.MVC.Enums.BusinessTypes>()">
                                <option selected disabled>Choose Business</option>
                            </select>
                            <label for="Business">Business</label>
                            <span asp-validation-for="Business" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">TransactionDate</label>
                            <input asp-for="TransactionDate" class="form-control" style="width: 40%" placeholder=Transaction Date">
                            <span asp-validation-for="TransactionDate" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-top: 10px">
                <button type="submit" class="btn btn-primary">Update</button>
                <button asp-action="" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Form End -->

</div>
<!-- Content End -->

<script>
     $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Search for a customer",
            allowClear: true
        });
    });

</script>